.column {
    width: 5rem;
    height: 5rem;
    margin: 0rem;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-radius: 50%;
    border-width: 0.05rem;
    border-color: black;
    border-style: solid;
}

.blue-text {
    color: rgb(3,81,228);
    font-weight: bold;
}

.row {
    width: 50rem;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    font-family: "Arial";
}

.grid {
    width: 50rem;
    border-width: 1rem;
    border-color: black;
    border-style: solid;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reset-button {
    width: 10rem;
}

.input {
    width: 2rem;
}

#inputs {
    width: 6rem;
    display: flex;
    justify-items: center;
    justify-content: space-around;
}

#winner-display {
    display: none;
    background-color: green;
    color: white;
}