.column {
    width: 100px;
    height: 100px;
    margin: 0px;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.circle {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
}

.blue-text {
    color: rgb(3,81,228);
    font-weight: bold;
}

.row {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
    font-family: "Arial";
}
}

.grid {
    width: 1000px;
}